# Ignore everything by default
/*

# Keep the gitignore itself
!.gitignore

# Whitelist only these paths/files to be tracked
!/templates/
!/static/
!/app1.py
!/model3.hdf5
!/requirements.txt

# Ensure contents inside whitelisted directories are also included
!/templates/**
!/static/**


